@media screen and (max-width: 980px) { .container { width: 100%; height: 100%; }
  .logo__contact { grid-template-columns: 45% 45%; grid-template-rows: 85px; -webkit-column-gap: 10%; column-gap: 10%; }
  .nav-bar { top: 20px; }
  .nav__contact { -webkit-column-gap: 50px; column-gap: 50px; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
  .contact__text { margin-left: 0; }
  .header__content { text-align: center; padding-top: 200px; }
  .header__buttons { width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  #catalog { height: 1760px; }
  #catalog .catalog__items { grid-template-rows: repeat(3, 470px); grid-template-columns: 300px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 1600px; -ms-flex-line-pack: justify; align-content: space-between; padding-bottom: 120px; }
  #advantages { height: 1100px; }
  .advantages_items { grid-template-rows: repeat(3, 253px); grid-template-columns: 300px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: justify; align-content: space-between; height: 850px; }
  #popular_products { height: 1700px; }
  .products_items { grid-template-columns: 220px; grid-template-rows: repeat(4, 345px); -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: justify; align-content: space-between; height: 1500px; }
  #services { height: 1100px; }
  .services_items { grid-template-rows: repeat(3, 253px); grid-template-columns: 300px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: justify; align-content: space-between; height: 850px; }
  .contact_content { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }
  #location_pin { position: static; }
  .contact_text { margin: 0; } }
@media screen and (max-width: 554px) { .logo__contact { grid-template-columns: 100%; grid-template-rows: 100% 50%; -webkit-column-gap: 0; column-gap: 0; justify-items: center; }
  .nav { height: 140px; margin-top: 10px; }
  .nav-bar { margin-top: 29px; padding: 20px 0; }
  .nav__buttons { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; display: none; z-index: 0; }
  .nav__buttons li { padding: 2px 0; }
  .btn_close_menu { display: block; } }
@media screen and (max-width: 425px) { .header__buttons { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .header__content p { margin-bottom: 45px; } }
@media screen and (max-width: 386px) { .nav { height: 230px; }
  .nav-bar { margin-top: 70px; }
  .nav__contact { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .contact__text p { text-align: center; } }
